<launch>
    <!-- 
        # This launch file is used to launch two robots in Gazebo and RViz.
    -->
    
    <!--  Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="robot_name_0" default="robot_0"/>
    <arg name="robot_name_1" default="robot_1"/>
    <param name="/use_sim_time" value="true" />

    <!-- Start gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/> -->
        <arg name="world_name" default="$(find turtlebot_sim)/worlds/room_mini.world" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- spawn_model  -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" respawn="false" output="screen" /> -->
    
    <!-- BEGIN ROBOT 0-->
    <group ns="$(arg robot_name_0)">
        <param name="tf_prefix" value="$(arg robot_name_0)" />
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
        <include file="$(find turtlebot_sim)/launch/one_robot.launch" >
            <arg name="init_pose" value="-x 0 -y 0 -z 0" />
            <arg name="robot_name"  value="$(arg robot_name_0)" />
        </include>
    </group>

    <!-- BEGIN ROBOT 1-->
    <group ns="$(arg robot_name_1)">
        <param name="tf_prefix" value="$(arg robot_name_1)" />
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
        <include file="$(find turtlebot_sim)/launch/one_robot.launch" >
            <arg name="init_pose" value="-x 0 -y -0.5 -z 0" />
            <arg name="robot_name"  value="$(arg robot_name_1)" />
        </include>
    </group>

    <!-- map server + amcl + move_base -->
    <include file="$(find turtlebot_sim)/launch/amcl_move_base.launch" >
        <arg name="robot_name" value="$(arg robot_name_0)" />
        <arg name="use_rviz" value="false" />
    </include>

    <include file="$(find turtlebot_sim)/launch/amcl_move_base.launch" >
        <arg name="robot_name" value="$(arg robot_name_1)" />
        <arg name="initial_pose_x"  default="-0.5"/>
        <arg name="use_rviz" value="false" />
    </include>

    <!-- publish static tf (world to robot_x/odom)-->
    <node pkg="tf" type="static_transform_publisher" name="world_to_robot0" args="0 0 0 0 0 0 world $(arg robot_name_0)/map 100" />
    <node pkg="tf" type="static_transform_publisher" name="world_to_robot1" args="0 0 0 0 0 0 world $(arg robot_name_1)/map 100" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_sim)/rviz/demo_two_robots_navigation.rviz" />
    
    <!-- rqt tf tree -->
    <!-- <node pkg="rqt_tf_tree" type="rqt_tf_tree" name="rqt_tf_tree" output="screen" /> -->
</launch>